h1 #{project.name}
p #{project.description}

h1 Collaborators

.collaborators
   .collaborators__item(class="collaborators__item_owner")
      .collaborators__avatar
         img(src="https://www.gravatar.com/avatar/" + project.owner.emailhash + "?d=identicon&f=y&s=20`")
      .collaborators__name #{project.owner.username} 

   if(project.collaborators.data.length > 0)
      - var iCollabs = 0;
      while iCollabs < project.collaborators.data.length
         .collaborators__item(class="collaborators__item_" + project.collaborators.data[iCollabs][2])
            .collaborators__avatar
               img(src="https://www.gravatar.com/avatar/" + project.collaborators.data[iCollabs][1] + "?d=identicon&f=y&s=20`")
            .collaborators__name #{project.collaborators.data[iCollabs][0]}

         - iCollabs++;

h1 Modules
//- p We are sorry, this functionality isn't implemented yet.

//- .search.search_big
//-    label
//-       span Modules
//-       input(type="text", name="search" placeholder="Search")

//- TODO: Modules view


.list
   if(modules.length === 0)
      | You have no modules. Maybe you want to 
      a(href="/project/" + projectId + "/modules/create") create
      |
      | some?
   else
      - var len = modules.length > 5 ? 5 : modules.length;
      - var n = 0;
      while n < len
         a.list__item(href="/project/" + projectId + "/module/" + modules[n].id + "/view")
            .list__header
               .list__header-left
                  .list__title
                     | #{modules[n].name}
               .list__header-right
                  //- .list__labels.tags
                  //-    if(modules[n][1] === true)
                  //-       .tag.tag_owner owner
                  //-    else 
                  //-       .tag.tag_access access

            .list__description
               | #{modules[n].description}
         - n++

      a.button(href="/project/" + projectId + "/modules/view") View all
