h1 #{module.name}
h3 Description
p #{module.description}

.flex
   .column
      h3 Dependency
      p #{module.dependency}

   .column
      h3 Type
      p #{module.content.type}

//- .tags
//-    .tag Tags
//-    .tag Are
//-    .tag Awesome

h3 Content

pre #{module.content.body}

button().button#exportPdf.button_green Export module in PDF